

.products__wrapper{
  width: 100%;
  border: 2px solid gold;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.product{
  max-width: 250px;
  border: 1px solid rgb(64, 54, 54);
  margin-top: 7px;
}

.product p{
  padding: 6px;
  text-align: justify;
}

img.product__img{
  width: 100%;
  height: auto;
}

.product__action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.product__action > button{
  cursor:pointer
};